name: Pull Request Target Ci
on:
    pull_request_target

jobs:
    pull_request_target_ci:
        name: Pull Request Target Ci
        runs-on: ubuntu-latest
        steps:
            - name: Comment on new prs
              uses: actions/github-script@v7
              with: 
                script: |
                 github.rest.issues.createComment({
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    issue_number : context.issue.number,
                    body: "Thanks for Contributing"
                 });
                
               


             